{% extends "pokoj/base.html" %}

{% block tytul_h1 %}
  Lista ogłoszeń
{% endblock %}

{% block tresc %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".klikajacy-wiersz").click(function() {
        window.location = $(this).data("href");
    });
});
</script>
<style>
  .klikajacy-wiersz{
    cursor: pointer;
  }
</style>
<div class="btn-group" style="margin-bottom: 10px;">
  <a href="{% url 'pokoj:dodaj' %}" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i> Dodaj nowe ogłoszenie </a>
</div>

  <table class="table table-hover">
  <thead>
    <tr><th>Lp.</th><th>Tytuł ogłoszenia</th><th>Data dodania</th><th>Operacje</th></tr>
  </thead>
  <tbody>
	{% for p in object_list reversed %}
	<tr class="klikajacy-wiersz" data-href="{% url 'pokoj:info' p.id %}">
		<td>{{ forloop.counter }}</td>
		<td>{{ p.tytul }}</td>
		<td>{{ p.data }}</td>
		<td colspan="3">
        <a href="{% url 'pokoj:info' p.id %}" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-list-alt"></i> Szczegóły</a>
        {% if p.autor.username == user.username or user.username == 'administrator' %}
				<a href="{% url 'pokoj:edytuj' p.id %}" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i> Edytuj</a>
				<a href="{% url 'pokoj:usun' p.id %}" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i> Usuń</a>
        {% endif %}
		</td>
	</tr>
	{% endfor %}
</tbody>
</table>


{% endblock %}